body {
    font-family: 'Mina', sans-serif;

}
.jumbotron {
    background-color: rgb(1, 82, 129);
    color: whitesmoke;

}
#topPanel {
    background-color: rgb(1, 82, 129);
    color: whitesmoke;

}
#bottomPanel {
    background-color: rgb(1, 82, 129);
    color: whitesmoke;

}
#submitBtn {
    background-color: rgb(1, 82, 129);
    color: whitesmoke;

}